body{
    display: flex;
    justify-content: center;
   
}
.card{
    margin-top: 10%;
}
ul.no-bullets {
  list-style-type: none; /* Remove bullets from checkbox */
  padding: 0; /* Remove padding checkbox */
  margin: 0; /* Remove margins checkbox */
  
}

.appTitle{
  font-family: 'fantasy';
  font-weight: bold;
}


/* is acutally located in App.css */
.form-label{
  color:white;
  margin-left:5px;
}
input{
  background-color: #282c34;
}